<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <exceptionless apiKey="8gkvV4tM2pYXUGAO5j6boi9Qddmc7M1r0UXtTjep" serverUrl="http://localhost:9006" />
</configuration>